		body
		{
			background: #ffd21c;
			width: 90%;
            padding: 0;
            margin: 0;
			text-align: center;
		}
		.rangeline 
		{
            width: 100%;
            margin: 20px;
            padding: 10px;
            border: 5px solid #305c4f;
            background: #00ffb7;
        }

        .range {
            width: 80%;
            height: 60px;
            outline: none;
            border: none;
            color: #0000ff;
        }

        .range::-ms-fill-lower {
            background: #ede853;
        }

        .first {
            width: 100%;
            display: inline-block;
        }

        

        .knop {
        width:100%;
        }

        .btn {
            width: 75px;
            height: 75px;
            font-size: 50px;
            font-weight: bold;
            background: #ffed78;
            display: inline-block;
			border-radius: 20px;
            text-align: center;
            line-height: 35px;
			border: 1px solid black;
            margin: 5px;
        }

            .btn:hover {
                background: #c9b00e;
            }

            .btn:active {
                background: #ff6a00;
            }

        .indicator {
            width: 70px;
            height: 70px;
            color: red;
            margin:30px;
            text-shadow: 0px 3px 3px #c71585;
            font-size: 60px;
            font-weight: bold;
            line-height: 70px;
            border: 0;
        }
		h1 {
 color: blue;
 background-color: yellow;
 border: 1px solid black;
}

h4 {
	
 color: #1d610c;
 font-family: "Ubuntu", sans-serif;
}

p {
 color: #1d610c; 
 font-family: "Ubuntu", sans-serif;
}


	

